.home_area {
  padding: 5rem 0rem;
  padding-bottom: 3rem;
}
.home_area > h1 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 800;
}
.heading_area {
  margin-bottom: 26px;
  border-bottom: 2px solid #222222;
}
.heading_area h1 {
  display: inline-block;
  padding: 7px 12px 4px;
  background-color: #222222;
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.image_wrapper {
  position: relative;
}
.image_wrapper img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.image_wrapper::after {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000, transparent);
  position: absolute;
  left: 0px;
  bottom: 0;
  content: "";
}
.image_wrapper h1 {
  position: absolute;
  bottom: 30px;
  left: 20px;
  color: #fff;
  font-size: 20px;
  z-index: 9;
}
.image_wrapper * {
  pointer-events: none;
}
.image_wrapper h1 span {
  font-size: 13px;
}
.base_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.base_wrapper iframe {
  width: 100%;
  height: 100%;
}
.video_cycle {
  margin-bottom: 6rem;
}
.video_container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-gap: 1rem;
  padding-bottom: 3rem;
}
.video_container iframe {
  width: 100%;
  height: 250px;
  /* pointer-events: none; */
}

.body_content_area {
  display: grid;
  grid-template-columns: 1fr 340px;
  grid-gap: 2rem;
}
.video_cycle .button_wrapper a {
  background-color: #222222;
  color: #fff;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.right_side > * + * {
  margin-top: 2rem;
}
.right_side .presentation img {
  width: 100%;
}
.right_side .icons_wrapper {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.right_side .icons_wrapper .icon {
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.right_side .icons_wrapper > * + * {
  margin-left: 10px;
}
.right_side > .presentation {
  position: sticky;
  top: 10px;
}
.right_side h1 {
  display: inline-block;
  padding: 7px 0px 4px;

  color: #222222;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
@media screen and (max-width: 1200px) {
  .body_content_area {
    grid-template-columns: 1fr;
  }
  .base_wrapper {
    grid-template-columns: 1fr;
  }
  .base_wrapper > *:first-child {
    grid-row: span 1;
    grid-column: span 1;
  }
  .base_wrapper > *:nth-child(2) {
    grid-column: span 1;
  }
  .base_wrapper {
    height: 100%;
  }
}

@media screen and (max-width: 700px) {
  .video_container {
    grid-template-columns: 1fr;
  }
}
